<h1> Listing Tags </h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <p>
        <%= link_to tag.name, tag_path(tag) %>
        |<%= link_to "delete", tag_path(tag), method: :delete, data: { confirm: "Really delete tag?" } %>|
      </p>
    </li>
  <% end %>
</ul>

<br>
<%= link_to '<<Back to All Articles', articles_path  %>

